@using Kids.Models
@model Kids.Areas.Admin.AdminDTO.CreateAgeGroupDTO
@{
    ViewData["Title"] = "ایجاد رده سنی";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}



<h1>ایجاد رده سنی</h1>
<form action="/Admin/AgeGroup/Create" id="myForm" method="post" enctype="multipart/form-data">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" asp-validation-summary="All"></div>
    }
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">@TempData["Success"]</div>
    }
    <div class="mb-3">

        <label class="form-label">نام رده سنی:</label>
        <br />
        <span asp-validation-for="AgeName"></span>
        <input asp-for="AgeName" type="text" class="form-control">
    </div>
  
    <div class="mb-3">


        <label class="form-label"> تصویر :</label>
        <br />
        <span asp-validation-for="ImageAddress"></span>
        <input asp-for="ImageAddress" id="ImageUpload" type="file" class="form-control" onchange="previewImage(event)">
        <div class="mb-3">
            <img id="imagePreview" src="" alt="تصویر انتخاب‌شده" style="max-width: 200px; display: none; border: 1px solid #ddd; padding: 5px;">
        </div>
    </div>

    <div class="mb-3">

        <input type="submit" class="btn btn-success" value="ایجاد">
        <a href="/Admin/AgeGroup/index" class="btn btn-primary">بازگشت</a>
    </div>
</form>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var img = document.getElementById("imagePreview");
            img.src = reader.result;
            img.style.display = "block";
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>


