@model Kids.DTO.ChangePasswordDTO
@{
    ViewData["Title"] = "ویرایش رمز عبور";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}
<div class="DashBoard-Container">
   
    <div class="DashBoard-Left">
        <div class="ProfileInfo">
            <span>ویرایش رمز عبور</span>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger " asp-validation-summary="All"></div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                {
                    <div class="alert alert-Success ">@TempData["SuccessMessage"] </div>
                }
            }
            <form action="/ChangePassword" method="post" enctype="multipart/form-data">
          

                <div class="Profile-Form">
                    <label asp-for="Password"><i class="fa-solid fa-lock"></i> عبور: </label><br>

                    <input type="password" asp-for="Password" placeholder="رمز عبور" />
                         
                </div>


                <div class="Profile-Form">
                    <label asp-for="RePassword"><i class="fa-solid fa-lock"></i>تکرار رمز عبور:</label><br>

                    <input type="password" asp-for="RePassword" placeholder="رمز عبور" />

                </div>

           


                <br>
                <input type="submit" value="ویرایش">
            </form>
        </div>
    </div>
    <partial name="SideDashBoard" />
</div>


