@model Kids.DTO.LoginWithCodeDTO
@{
    ViewData["Title"] = " ورود با کد ";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<<div class="Register-Container">
    <h5>ورود به سایت</h5>
    <div class="Register">
        <div class="Register-Title">
            <img src="images/logo.png" alt=""><br>

        </div>
        <div class="Form-Input-Container">
            <form id="registerForm" asp-controller="Account" asp-action="LoginWithCode" method="post">
                @{
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div asp-validation-summary="All" class="DangerAlert"></div>
                    }
                }
              
                <div class="Input-Container">
                    <label for=""><i class="fa-solid fa-phone"></i>شماره موبایل :</label>
                    <input type="number" name="PhoneNumber" asp-for="PhoneNumber">
                </div>
            
                <input type="submit" class="OK" value=" ورود">
            </form>

            <div class="Form-Link">
                <a href="/Register">حساب کاربری ندارید؟ ثبت نام</a><br/>
                
            </div>
        </div>

    </div>
</div>