@model Kids.Areas.Admin.AdminDTO.EditFactorDTO
@{
    ViewData["Title"] = "ویرایش فاکتور";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>ویرایش فاکتور شماره @ViewBag.Id</h1>

<form action="/Admin/Factors/Edit" id="myForm" method="post" enctype="multipart/form-data">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" asp-validation-summary="All"></div>
    }
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">@TempData["Success"]</div>
    }
    <div class="mb-3">

        <label class="form-label">نهایی شود؟ :</label>
        <br />
        <input type="hidden" value="@Model.Id" asp-for="Id" />
        <span asp-validation-for="IsFinally"></span>
        <input asp-for="IsFinally" type="checkbox" >
    </div>
   

    <div class="mb-3">

        <input type="submit" class="btn btn-success" value="ویرایش">
        <a href="/Admin/Factors/index" class="btn btn-primary">بازگشت</a>
    </div>
</form>

